<% @users.each do |user|%>
<div>
    <p>userid: <%= user.id %></p>
    <p>username: <%= user.name %></p>
    <p>userpassword: <%= user.password %></p>
    <p>useremail: <%= user.email %></p>
    <p>userdelete_flag: <%= user.delete_flag %></p>
    <p>useruser_img: <%= user.user_img %></p>
    <p>----------------------------</p>
    
</div>
<% end %>
