<div class="main">
    <h1>マイページ</h1>


    <div class="user">
        <div class="user-page">
            <div class="user-img">
                <img src="<%= "/user-image/#{@user.user_img}" %>">
            </div>
            <p><%= @user.name%></p>
        </div>
    </div>

    <div class="reports">
        <% @user.post.each do |report|%>
            <div class="report">
                <h2><%= report.user.name %></h2>
                <div>
                    <div class="report-title">
                        タイトル：　<%= report.title %>
                    </div>
                    <div class="report-show">
                        <%= link_to  "詳細", "/reports/show/#{report.id}" %>
                    </div>
                </div>
                <div class="clear"></div>
                <span><%= report.created_at %></span>
                <div class="report-action">
                    <%= link_to  "編集", "/reports/edit/#{report.id}" %>
                    <%= link_to  "削除", "/reports/destroy/#{report.id}",{method: "post"} %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="user-btn">
        <div class="user-create-btn">
            <%= link_to("ユーザー編集", "/users/edit/#{@user.id}") %>
        </div>
        <div class="user-destroy-btn">
            <%= link_to("ユーザー削除", "/users/destroy/#{@user.id}", {id: "delete_alert"}) %>
        </div>
    </div>
    <div class="clear"></div>
    <div class="damy"></div>
</div>

