<div class="main">
    <h1>日報詳細</h1>

    <div class="report-new">
        <div>
            <p>タイトル</p>
                <div class="show-title">
                    <%= @report.title %>
                </div>
            <p>日報内容</p>
                <div class="show-content">
                    <%= @report.content %>
                </div>
        </div>

        <% if @report.user_id == @current_user.id %>
            <div class="edit-btn">
                <%= link_to("編集","/reports/edit/#{@report.id}") %>
            </div>
        <% end %>
        <div class="damy"></div>
    </div>

    <div class="comment">
        <div class="comment-btn">
            <%= link_to("コメント投稿","/comments/new") %>
        </div>

        <h2>コメント一覧</h2>

        <% @comments.each do |comment|%>
            <div class="report">
                <h3>
                    <%= comment.user.name%>
                </h3>
                <div>
                    <div class="comment-title">
                        <%= comment.comment %>
                    </div>
                </div>
                <div class="clear"></div>
                <span><%= comment.created_at %></span>
                <% if comment.user_id == @current_user.id %>
                    <div class="report-action">
                        <%= link_to  "編集", "/comments/edit/#{comment.id}" %>
                        <%= link_to  "削除", "/comments/destroy/#{comment.id}", {method: "post"} %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>