<!DOCTYPE html>
<html>
  <head>
    <title>DailyReport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo"> 
        <p>日報管理</p>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to "新規アカウント作成","/users/new" %>
        </li>
        <li>
          ログイン：
        </li>
        <li>
          マイページ
        </li>
        <li>
          <%= link_to "日報一覧","/reports/index" %>
        </li>
        <li>
          <%= link_to "日報作成","/reports/new" %>
        </li>
        <li>
          <%= link_to "ログアウト","/users/logout", {method: "post"} %>
        </li>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
    
    <footer>
      <div class="footer-name">
        <p>©︎2020　Hiroki Takakumo</p>
      </div>
    </footer>
  </body>
</html>
